*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.hr-tyle-footer{
    width: 300px;
    border: 2px solid  rgb(201, 119, 38); 
     border-radius: 40px;
}
.navbar-brand span{
width: 150px;
height: 150px;

font-size: 50px;
background: url(./img2/heart-healthy-food-1580231690.jpg);
-webkit-background-clip: text;
color: transparent;

}

.nav-link{
    font-size: 30px;
    margin: 10px;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: #0652DD;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
  text-decoration: underline;
}

.fromaction{
    position: relative;
}

.form-control{
    width: 210px;
    margin-left: 50px;
    border-radius: 30px;
    box-shadow: none;

}
.btun-type{
    position: absolute;
    right: 0;
    top: 0;
    border-radius:30px ;
    background-color: #0652DD;
    color: white;

}
/* header-contect */

.header-contect{
    padding: 10px;
}
.header-contect h1{
    font-size: 80px;
}
.header-contect h1 span{
    color: rgb(223, 37, 4);
}
.header-contect p{
    font-size: 20px;
}

.header-contect .btn-header{
    font-size: 35px;
    background-color: rgb(247, 171, 7);
   
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

 .header-img{
background: url(./img2/117543454-celery-carrot-and-green-apple-isolated-on-white-background-.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: 100%;
height: 600px;
width: 600px;
border: 0;
animation: headder-img 4s linear infinite;

}


@keyframes headder-img {
     100%{
        background: url(./img2/istockphoto-516007050-612x612.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 100%;
height: 600px;
width: 600px;
     }
}


/* service section */
.btn-service{
    font-size: 20px;
    background-color: blue;
    color:#fff;
  padding: 10px;
  border: 0;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;

}
.btn-service:hover{
    background-color: brown;
    color: white;
}
.card{
    overflow: hidden;
    box-shadow: 1px 3px 4px 5px white;
    border: 0;
    margin: 25px 0;
}
.card img{
  height: 350px;
  width: 100%;
  line-height: hidden;
  background-color: #fff;
transition: 1s;

}
.card img:hover{
    transform: scale(1.1);
  
}
 


.card-body{
    text-align: center;
}
.card-body h5{
    font-size: 35px;
    margin: 15px 0;
   
}

.hr-style{
    border: 4px solid rgb(14, 226, 42);
    border-radius: 40px;
    width: 400px;
    margin: auto;
    top: 40px;

}
.tittel h1{
    font-size: 35px;
    text-align: center;
    margin: 15px 0;
}

.slider-hed {
   
  
    margin: 80px 0 ;
  
}

.div-slidwe-img img{
    width: auto;
    height: 300px;
}
.div-slider h1{
    font-size: 40px;

}
.div-slider .heed{
    font-size: 25px;
    color: #ee1010;
   
}
.div-slider h1{
    font-size: 40px;
    margin: 10px 0;
  
}

/* contact-sectionKK */

.contact-section{
    
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)) , url(./img2/spa-floral-background-flat-lay-260nw-518349154.jpg);
background-position: center;
    background-size: cover;
    background-position: 100%;
    width: 100%;
   
    margin: 28px 0;
   

}


.contact-fome{
    background-color: #fff;
    border: 0;
    box-shadow: 1px 5px 9px 0 rgba(0,0,0,0.5);
    height: 450px;
    width: 300px;
    margin: 40px 0;
    padding: 5px;
}
label{
    font-size: 25px;
    margin: 5px 0;
}
input{
    font-size: 25px;
    margin: 5px 0;

}

.div-submit{
    background-color:#ff6348 ;
    border: 0; padding: 7px ;
    font-size: 30px;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    width: 250px;
    margin: 10px 0;
    
   
  
}
.contact-text {
    margin-top: 40px;
}
.div-submit a{
    text-decoration: none;
    color: white;
}
.contact-text h1{
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 10px 0;
}
.contact-text .text-form{
 font-size: 90px;
 color: hwb(0 4% 11% / 0.925);
 margin: 10px 0;
}
.contact-text .web-eidtor{
    font-size: 45px;
    margin: 10px 0;

}


/* .service -banner */



.bannner-img-servicce{
    background: url(./images/services/service1.webp);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 25px 0;
    padding: 5px;
   animation: mim 10s linear infinite;
   position: relative;
}
@keyframes mim {


    0%{
       
        height: 500px;
        width: 100%;
        background-position: center;
    background-size: cover;
    }
    33%{
        background: url(./images/services/service2.webp);
        height: 500px;
        width: 100%;
        background-position: center;
    background-size: cover;
    }
    66%{
        background: url(./images/services/service3.webp);
        height: 500px;
        width: 100%;
        background-position: center;
    background-size: cover;
    }

    100%{
        background: url(./images/services/service6.webp);
        height: 500px;
        width: 100%;
        background-position: center;
    background-size: cover;
    }
}

.icon-text-1 i{
    font-size: 80px;
    margin-right: 200px;
    color: #0652DD;
    position: relative;
    margin: 45px 0;
}
.text-1{
    margin: 45px 0;
}

.icon-text-2 i{
    font-size: 80px;
    margin-right: 300px;
    color: #0652DD;
    position: relative;
    margin: 10px 0;
}
.text-2{
    margin: 10px 0;
}
.icon-text-3 i{
    font-size: 80px;
    margin-right: 400px;
    color: #0652DD;
    position: relative;
    margin: 10px 0;
}
.text-1{
    margin: 20px 0;
}

/* footer section */


.footer-section{
    margin: 25px 0;
    background-color: rgb(10, 7, 4);
    padding: 10px;
}
.footer-section h1{
    color: white;
    margin: 5px 0;
    padding: 5px;
}
.footer-section h1:hover{
text-decoration: underline;
}
.footer-1 p{
    font-size: 18px;
    color: rgb(97, 91, 84);
    padding: 5px;
}

.footer-2 li{
    list-style: none;

}
.footer-2 li a{
    font-size: 25px;
    color: rgb(97, 91, 84);
    text-decoration: none;
}

.footer-icon{
    text-align: center;
}
.footer-icon i{
    font-size: 40px ;
    margin: 5px;
    border-radius: 50%;
    padding: 7px;
    border: none;
    background-color: rgb(97, 91, 84) ;
    color: white;
}

.footer-3 p{
    color: rgb(97, 91, 84);
}

.footer-4 p{
    color: rgb(97, 91, 84);
}

.search-box{
 position: relative;
}

.search-box input{
   
    width: 250px;
    padding: 4px;
    height: 40px;
    border-radius: 40px;
    box-shadow: none;
    border: none;
   

}
.search-box button{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 40px;
    margin-top: 5px;
    border-radius: 40px;
    background-color: #0652DD;
    color: white;
    
}
